*{
    box-sizing: border-box;
    --white: white;
    --main: #e1e1e1;
    --black: #000; 
}
body{
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-image: url(image/map3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
}
.container{
    width: 60%;
    background-color: rgba(105, 105, 107, 0.8);
    margin: 3rem auto;
    border: 0;
    border-radius: 0.3rem;
}
h1{
    font-family: 'Yeon Sung', sans-serif;
    color: var(--white);
}
h3{
    font-family: 'Space Grotesk', sans-serif;

}
input{
    padding: 1rem;
    font-size: 1.4rem;
    width: 80%;
    background-color: rgb(240, 248, 255, 0.3);
    color: var(--white);
    border: none;
    border-radius: 0.5rem;
    text-align: center;

}
input:focus{
    border: 0.1rem solid rgba(21, 117, 207, 0.89);
}
::placeholder{
    color: var(--white);
    font-weight: lighter;
    font-style: italic;
}
button{
    padding: 1rem;
    text-transform: uppercase;
    background-color: rgb(255, 255, 255, 0.4);
    color: var(--white);
    font-weight: bold;
    font-size: 1.4rem;
    border: 0;
    border-radius: 0.3rem;
    cursor: pointer;
}
button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(167, 204, 236);
}
#cityName{
    font-size: 2.5rem;
    font-weight: lighter;
    color: var(--white);
    text-transform: uppercase;
    font-family: 'Rowdies', cursive;
}
.img{
    width: 12rem;
}
#tempValue{
    font-size: 2.5rem;
    color: var(--white);
    font-weight: bold;
    padding: 1rem;
}
#des{
    color: var(--white);
    font-size: 1.8rem;
    font-weight: lighter;
    padding: 1rem;
    text-transform: capitalize;
}
@media only screen and (max-width: 480px) {
  .container{
      width: 90%;
  }
  #cityName{
      font-size: 2rem;
  }
  #tempValue{
      font-size: 2rem;
  }
  input{
      width: 90%;
      padding: 0.5rem;
      color: var(--black);
  }
  ::placeholder{
      font-size: 1.2rem;
  }
  button{
      padding: 0.5rem;
  }

  }
