*{
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(image/weather.jpg);
    margin: 0;
}
.container{
    width: 60%;
    background-color: rgb(29, 29, 61, 0.6);
    margin: 2rem 15rem;
    border: none;
    border-radius: 0.3rem;
    padding: 1rem;
}
.formclass{
   justify-content: center;
   align-items: center;
    padding: 1rem;
}
#myForm{
    display: flex;
    align-items: center;
    justify-content: center;
}
.input{
    padding: 0.4rem;
    font-size: 1.4rem;
    width: 70%;
    background-color: rgb(240, 248, 255, 0.3);
    color: white;
    border: none;
    border-radius: 0.3rem;
    text-align: center;
    outline: none;

}
::placeholder{
    color: white;
}
.btnn{
    background-color: rgb(255, 255, 255);
    width: 10%;
    padding: 0.4rem;
    font-size: 1.4rem;
    border: none;
    border-radius: 0.3rem;
    margin-left: 0.3rem;
}

.forcast{
    text-align: center;
}

#cityName{
    font-size: 2rem;
    font-weight: lighter;
    color: white;
}
.img{
    width: 12rem;
}
.sym{
    font-weight: lighter;
    font-size: 2rem;
}
#tempValue{
    font-size: 2.5rem;
    color: aliceblue;
    font-weight: bold;
}
#des{
    color: white;
    font-size: 1.8rem;
    font-weight: lighter;
}
